@import "../../styles/variables.scss";
@import "../../styles/typography.scss";
@import "../../styles/mixins.scss";

// border radius!!
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px $nardoGrey;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;

  &__image {
    height: 18rem;
    width: 100%;
    object-fit:scale-down;
  }

  &__title {
    padding: 1rem;
  }

  &__description {
    padding: 0 1rem;
  }

  &:hover {
    transform: scale(1.02);
  }
}



